.contact-page-container {
    min-height: 100vh;
    width: 100%;
    color: white;
}

.contact-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 900;
}

.contact-title:after {
    content: "";
    display: block;
    position: relative;
    top: -15px;
    width: 75%;
    height: 1px;
    margin-left: 85px;
    background-color: white;
}