.about-page-container {
    min-height: 50vh;
    width: 80%;
    color: whitesmoke;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 900;
}

.title:after {
    content: "";
    display: block;
    position: relative;
    top: -15px;
    width: 65%;
    height: 1px;
    margin-left: 140px;
    background-color: white;
}

.about-description {
    font-size: 1.5rem;
    font-family: 'Playfair', 'Times New Roman', Times, serif;
}